.form-wrapper {
    width: 315px;
    display: flex;
    flex-direction: column;
    margin-top: 5.875rem;
}

.form-header {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.form-input-wrapper {
    margin-bottom: 1.25rem;
}

.icon-password {
    position: absolute;
    top: 1.125rem;
    right: 1rem;
}

.icon-password:hover {
    cursor: pointer;
}